body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

.main {
  display: flex;
  height: 100vh;
}

.sidebar {
  background-color: black;
  width: 20rem;
}

.main-content {
  background-color: #121212;
  flex: 1;
  border-radius: 1rem; /* 1rem = 16px*/
  overflow: auto;
  margin-top: 0.5rem;
  padding-left: 1rem;
}

.music-player {
  background-color: black;
  color: #000;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5rem;
}

a {
  text-decoration: none;
  color: white;
}
.nav {
  display: flex;
  flex-direction: column;
  background-color: #121212;
  border-radius: 1rem; /* 1rem = 16px*/
  justify-content: center;
  height: 6.25rem;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem;
}
.nav-option {
  line-height: 2.5rem;
  opacity: 0.7;
  padding: 0.5rem 0.75rem;
  transition: 0.1s ease-in;
}

.nav-option i {
  font-size: 1.25rem;
}
.nav-option a {
  font-size: 1rem;
  margin-left: 0.5rem;
}

.nav-option:hover {
  opacity: 1;
}

.library {
  background-color: #121212;
  border-radius: 1rem; /* 1rem = 16px*/
  height: 100%;
  margin: 0.5rem;
  padding: 0.5rem 0.75rem;
}
.options {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.lib-option {
  width: 12rem;
}
.lib-option img {
  height: 1.25rem;
  width: 1.25rem;
}

.icons {
  font-size: 1rem;
  display: flex;
}
.icons i {
  margin-top: 0.8rem;
  opacity: 0.7;
  margin-right: 1rem;
}

.icons i:hover {
  opacity: 1;
}

.box {
  height: fit-content;
  background-color: #232323;
  border-radius: 0.75rem;
  margin: 0.75rem 0 0.5rem 0;
  padding: 0.75rem 1.25rem;
}

.box-p1 {
  font-size: 1rem;
  font-weight: 500;
}
.box-p2 {
  font-size: 0.85rem;
  opacity: 0.9;
}
.badge {
  background-color: white;
  border-radius: 1rem;
  border: none;
  padding: 0.25rem 1rem;
  font-weight: 600;
  margin-top: 0.5rem;
  height: 2rem;
  width: fit-content;
}

.sticky-nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  /* padding-bottom: 1rem; */
  background-color: #121212;
  z-index: 1000;
}

.sticky-nav-icons img {
  border-radius: 50%;
  /* background-color: black; */
  cursor: pointer;
}

button {
  cursor: pointer;
}

.sticky-nav-options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticky-nav-options button {
  margin-left: 0.75rem;
}

.sticky-nav-options .user-icon {
  font-size: 1.5rem;
  align-self: center;
  margin-top: 0.5rem;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.dark-badge {
  background-color: #000;
  color: white;
}

@media (max-width: 1000px) {
  .hide {
    display: none;
  }
}

.card {
  background-color: #232323;
  width: 150px;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
}
.card-img {
  width: 100%;
  border-radius: 0.5rem;
}
.card-title {
  font-weight: 600;
}
.card-info {
  font-size: 0.85rem;
  opacity: 0.5;
}
.footer {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line {
  width: 90%;
  height: 30%;
  border-top: 1px solid white;
  opacity: 0.4;
}

.music-player {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.album {
  display: flex;
  align-items: center;
  width: 25%;
  color: white;
}

.player {
  width: 50%;
}

.controls {
  width: 25%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 2rem;
}

.player-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-control-icon {
  height: 0.8rem;
  margin-right: 1.75rem;
  opacity: 0.7;
  transition: 0.1s ease-out;
}

.player-control-icon:hover {
  opacity: 1;
  height: 1rem;
}

.player-control-icon:nth-child(3) {
  height: 2rem;
  opacity: 1;
}

.current-time,
.total-time {
  color: white;
  font-size: 0.8rem;
}
.playback-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}
.progress-bar {
  margin-top: 0.5rem;
  width: 70%;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 1rem;
  margin-right: 1rem;
}

.progress-bar::-webkit-slider-runnable-track {
  background-color: #ddd;
  border-radius: 100px;
  height: 0.2rem;
}
.progress-bar::-webkit-slider-thumb {
  appearance: none;
  height: 1rem;
  width: 1rem;
  background-color: #1bd760;
  border-radius: 50%;
  margin-top: -6px;
}

.album-img {
  margin-left: 1rem;
  height: 3rem;
}

.album-info {
  margin-left: 1rem;
  width: 10rem;
}

.album-title {
  line-height: 1.8rem;
}
.album-composer {
  font-size: 0.7rem;
  font-weight: 400;
  opacity: 0.7;
  cursor: pointer;
}

.album-composer:hover {
  opacity: 1;
  text-decoration: underline;
}

.album-controls {
  height: 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
}
.album-controls-2 {
  height: 2rem;
}

.control-icons {
  cursor: pointer;
  margin-right: 0.3rem;
}
.control-icons:nth-child(1) {
  height: 2.5rem;
}
.control-icons:nth-child(2) {
  height: 2.5rem;
}
.control-icons:nth-child(3) {
  height: 1.5rem;
}
.control-icons:nth-child(4) {
  height: 1rem;
}
.control-icons:nth-child(5) {
  height: 3rem;
}

.volume-bar {
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}

.volume-bar::-webkit-slider-runnable-track {
  background-color: #1bd760;
  border-radius: 100px;
  height: 0.2rem;
}
.volume-bar::-webkit-slider-thumb {
  appearance: none;
  height: 1rem;
  width: 1rem;
  background-color: #ddd;
  border-radius: 50%;
  margin-top: -6px;
}
